@import '../../../scss/variables';
@import '../../../scss/mixins';

.person-card {
    position: relative;
    @include flex-setup($flex-flow: column);

    &-bio{
        @include flex-setup($flex-flow: column, $align-items: center, $justify-content: center);
        padding: 12rem;
        text-align: center;

        @media screen and (max-width: $bp-large) {
            padding: 10rem;
        }

        @media screen and (max-width: $bp-medium) {
            padding: 9rem;
        }

        @media screen and (max-width: $bp-small) {
            padding: 7rem;
        }

        @media screen and (max-width: $bp-mobile) {
            padding: 7rem 4rem;
        }

        .profile-image {
            width: 100%;
            height: 35rem;
            max-width: 35rem;
            margin-bottom: var(--margin-medium);
            background-color: $secondary-dark-gray-3;

            @media screen and (max-width: $bp-small) {
                height: 35rem;
                max-width: 45rem;
            }

            @media screen and (max-width: $bp-mobile) {
                height: 45rem;
                max-width: 100%;
            }
        }

        .person-name {
            margin-bottom: 1rem;

            @media screen and (max-width: $bp-mobile) {
                font-size: 5vw;
            }
        }

        .paragraph {
            margin-bottom: var(--margin-small);
            color: $primary-dark-gray-2;
        }

        .contact-group {
            width: 100%;
            @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);
            text-align: center;

            .contact-group-link {
                position: relative;
                margin-bottom: 1rem;

                @media screen and (max-width: $bp-mobile) {
                    font-size: 1.8rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 0.1rem;
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: left;
                    background-color: $primary-light-gray-1;
                    transition: var(--hover-transition);
                }

                &:hover::after {
                    transform: scaleX(1);
                }

                &:last-child {
                    letter-spacing: 0.35rem;
                }
            }
        }
    }
}