@import '../../../scss/variables';
@import '../../../scss/mixins';

.become-student-section {
    position: relative;
    width: 100%;
    padding: 15rem 0;

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0.1rem;
        background-color: $primary-dark-blue-2; //$primary-dark-gray-2;
    }

    &-inner {
        position: relative;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        padding: 0 12rem;

        @media screen and (max-width: $bp-large) {
            padding: 0 10rem;
        }

        @media screen and (max-width: $bp-medium) {
            padding: 0 9rem;
        }

        @media screen and (max-width: $bp-small) {
            padding: 0 7rem;
        }

        @media screen and (max-width: $bp-mobile) {
            padding: 0 4rem;
        }
        
        .become-student-heading-wrapper {
            height: auto;
            overflow: hidden;
            margin-bottom: var(--margin-medium);
        }

        .become-student-button-wrapper {
            justify-self: center;
        }
    }
}