@import '../../../scss/variables';
@import '../../../scss/mixins';

.forgot-password-section {
    position: relative;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.1rem;
        width: 100%;
        background-color: $primary-dark-blue-2; //$primary-dark-gray-2;
    }

    &-inner {
        padding: 10rem 12rem;

        @media screen and (max-width: $bp-large) {
            padding: 10rem 10rem;
        }

        @media screen and (max-width: $bp-medium) {
            padding: 10rem 9rem;
        }

        @media screen and (max-width: $bp-small) {
            padding: 10rem 8rem;
        }

        @media screen and (max-width: $bp-mobile) {
            padding: 5rem 4rem;
        }
            
        .forgot-password-content {
            height: 100%;
            @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);

            .forgot-password-paragraph-wrapper {
                width: 100%;
                margin-bottom: var(--margin-medium);
            }

            .forgot-password-form {
                width: 100%;
                @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);

                .form-group {
                    flex: 1;
                    width: 100%;
                    @include flex-setup($flex-flow: column, $align-items: flex-start, $justify-content: flex-start);
                    margin-bottom: var(--margin-medium);

                    .form-group-label {
                        margin-bottom: 2.5rem;
                    }

                    .form-group-input {
                        width: 100%;
                        padding: 2.5rem;
                        border: 0.1rem solid $primary-dark-blue-2; //$primary-dark-gray-2;
                        transition: var(--hover-transition);
    
                        &::-webkit-calendar-picker-indicator {
                            filter: invert(1);
                        }
    
                        &:hover,
                        &:focus {
                            border-color: $primary-light-text-1; //$primary-light-gray-1;
                        }
                    }
                }   
            }
        }
    }
}