@import '../../../scss/variables';
@import '../../../scss/mixins';

.contact-form-section {
    position: relative;
    width: 100%;

    @media screen and (max-width: $bp-mobile) {
        padding: 0 4rem;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.1rem;
        width: 100%;
        background-color: $primary-dark-blue-2; //$primary-dark-gray-2;
    }

    &-inner {
        display: grid;
        grid-auto-flow: column;
        gap: 10rem;
        margin: 0 12rem;
        padding: var(--general-padding-medium) 0;

        @media screen and (max-width: $bp-large) {
            margin: 0 10rem;
        }

        @media screen and (max-width: $bp-medium) {
            margin: 0 9rem;
        }

        @media screen and (max-width: $bp-small) {
            margin: 0 7rem;
        }

        @media screen and (max-width: $bp-mobile) {
            margin: 0;
        }

        .contact-form-section-heading {
            grid-column: 1 / -1;

            .contact-form-paragraph {
                margin-bottom: var(--margin-small);
                color: $primary-dark-blue-2; //$primary-dark-gray-2;
            }

            .contact-form-title {
                @media screen and (max-width: $bp-large) {
                    font-size: 2vw;
                }
            }
        }

        .contact-form-section-wrapper {
            width: 100%;
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: row;
            column-gap: 10rem;
            row-gap: 5rem;

            @media screen and (max-width: $desktop-utility-bp-medium) {
                grid-template-columns: 1fr;
            }

            .form-block {
                height: 100%;
                @include flex-setup($flex-flow: column);

                .form-group {
                    flex: 1;
                    @include flex-setup($flex-flow: column, $align-items: flex-start, $justify-content: flex-start);
                    margin-bottom: var(--margin-medium);

                    .form-group-label {
                        margin-bottom: 1.5rem;
                    }

                    .form-group-input {
                        width: 100%;
                        padding: 2.5rem;
                        border: 0.1rem solid $primary-dark-blue-2; //$primary-dark-gray-2;
                        transition: var(--hover-transition);

                        &::-webkit-calendar-picker-indicator {
                            filter: invert(1);
                        }

                        &:hover,
                        &:focus {
                            border-color: $primary-light-text-1; //$primary-light-gray-1;
                        }
                    }

                    .text-area {
                        height: 30rem;
                        width: 100%;
                        resize: none;
                    }

                    .form-group-buttons {
                        flex: 1;
                        @include flex-setup($flex-flow: row, $align-items: center, $justify-content: flex-start);

                        .radio-button-group:not(:last-child) {
                            margin-right: var(--margin-medium);
                        }

                        .radio-button-group .button-group-label {
                            @include flex-setup($flex-flow: row, $align-items: center, $justify-content: flex-start);
                            cursor: pointer;

                            .button-group-input {
                                display: none;
                            }

                            .button-group-input:checked + .radio-button-el {
                                border-color:  $primary-light-text-1; //$primary-light-gray-1;

                                &::after {
                                    transform: translate(-50%, -50%) scale(1);
                                }
                            }

                            .radio-button-el {
                                position: relative;
                                width: 3rem;
                                height: 3rem;
                                margin-right: var(--margin-small);
                                border: 0.1rem solid $primary-dark-blue-2; //$primary-dark-gray-2;
                                border-radius: 50%;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: inherit;
                                    background-color: $primary-light-text-1; //$primary-light-gray-1;
                                    transform: translate(-50%, -50%) scale(0);
                                    will-change: transform;
                                    transition: var(--hover-transition);
                                }
                            }
                        }
                    }
                }
            }

            .text-area-group {
                grid-column: 1 / -1;
            }
        }

        .button-primary {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }
}