@import '../../../scss/variables';
@import '../../../scss/mixins';

.about-section {
    position: relative;
    width: 100%;
    height: auto;

    @media screen and (max-width: $bp-mobile) {
        padding: 0 4rem;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.1rem;
        width: 100%;
        background-color: $primary-dark-blue-2; // $primary-dark-gray-2
    }

    &-inner {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 50%;
        gap: 10rem;
        padding: var(--general-padding-medium) 0;
        margin: 0 12rem;

        @media screen and (max-width: $desktop-utility-bp-large) {
            grid-template-columns: 1fr 45%;
        }

        @media screen and (max-width: $bp-large) {
            @include flex-setup($flex-flow: column, $align-items: flex-start, $justify-content: flex-start);
            margin: 0 10rem;
        }

        @media screen and (max-width: $bp-medium) {
            margin: 0 9rem;
        }

        @media screen and (max-width: $bp-small) {
            margin: 0 7rem;
        }

        @media screen and (max-width: $bp-mobile) {
            margin: 0;
      }

        .section-inner-image {
            width: 100%;
            height: 100%;

            @media screen and (max-width: $bp-large) {
                height: 60vw;
                padding-right: 25%;

                .background-image {
                    filter: brightness(60%);
                }
            }

            @media screen and (max-width: $bp-medium) {
                height: 70vw;
                padding-right: 15%;
            }

            @media screen and (max-width: $bp-small) {
                height: 70vw;
                padding: 0;

                
                .background-image {
                    filter: brightness(100%);
                }
            }

            .background-image {
                pointer-events: none;
                user-select: none;
            }
        }

        .section-inner-content {
            @include flex-setup($flex-flow: column, $align-items: flex-start, $justify-content: flex-start);
            z-index: 100;

            @media screen and (max-width: $bp-large) {
                margin-top: -45%;
                padding-left: 25%;
            }

            @media screen and (max-width: $desktop-utility-bp-medium) {
                margin-top: -55%;
            }

            @media screen and (max-width: $bp-medium) {
                margin-top: -60%;
                padding-left: 15%;
            }

            @media screen and (max-width: $bp-small) {
                margin-top: 0;
                padding-left: 0;
            }

            .content-heading {
                @include flex-setup($flex-flow: column, $align-items: center, $justify-content: center);
                width: 175%;
                margin-top: 10vh;
                margin-left: -90%;
                margin-bottom: var(--margin-xlarge);
                text-align: center;
                
                @media screen and (max-width: $bp-large) {
                    @include flex-setup($flex-flow: column, $align-items: flex-start, $justify-content: flex-start);
                    width: 100%;
                    margin: 0;
                    margin-bottom: var(--margin-medium);
                    text-align: start;
                }

                .content-heading-subtitle {
                    margin-bottom: 1.5rem;
                    text-shadow: 0.1rem 0.1rem 0.15rem rgba(0,0,0,0.5);
                }

                .content-heading-title {
                    max-width: 90%;
                    text-shadow: 0.1rem 0.1rem 0.15rem rgba(0,0,0,0.5);

                    @media screen and (max-width: $bp-large) {
                        max-width: 100%;
                    }
                }
            }

            .paragraph {
                margin-bottom: var(--margin-medium);
            }

            .link-wrapper {
                align-self: flex-end;

                @media screen and (max-width: $bp-small) {
                    align-self: center;
                }
            }
        }
    }
}